

.navbar {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    text-decoration: none;
    font-family: var(--logo-font);
    font-size: 58px;
    color: var(--logo-color);
}

.navbar__links {
    font-family: var(--main-text-font);
    font-size: 24px;
    color: var(--main-text-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link__about {
    text-decoration: none;
    color: var(--main-text-color);
    position: relative;
    font-family: var(--main-text-font);
    margin-right: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    align-self: center;
    line-height: 32px;
}

.link__about::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--main-text-color);
}
