.noticeList {
    margin-top: 50px;
    font-family: var(--main-text-font);
}

.noticeItem {
    border: 1px solid var(--main-text-color);
    padding: 5px 25px;
    margin-bottom: 25px;
}

.noticeDate {
    font-size: 24px;
    color: var(--logo-color);
}

.noticeText {
    font-size: 16px;
    color: var(--main-text-color);
}