.addCondForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addCondBlock {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 25px 0;
}

.addCondBlock p {
    display: flex;
    justify-content: space-between;
}

.addCondForm p {
    margin: 0;
    padding: 0;
}

.addCondForm label {
    font-size: 24px;
    font-family: var(--logo-font);
    margin: 5px 0;   
}

.addCondFormHeader {
    font-size: 24px;
    font-family: var(--logo-font);
}

.addCondForm input {
    font-family: var(--logo-font);
    font-size: 24px;
    width: 50px;
    height: 30px; 
    outline: 0;
    text-align: center;
    margin: 5px 0;  
}

.labelPhys {
    color: var(--second-color);
}

.labelEmo {
    color: var(--logo-color);
}

.labelSoul {
    color: var(--third-color);
}