.noticeForm {
    margin-top: 50px;
    width: 80vw;
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.noticeForm textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid var(--main-text-color);
    padding: 15px 25px;
    position: relative;
    font-family: var(--main-text-font);
    resize: none;
    outline: none;
    overflow: auto;
}

.closeNotice {
    position: absolute;
    width: 25px;
    height: 25px;
}


.closeNotice::before, .closeNotice::after {
    content: '';
    width: 2px;
    height: 20px;
    top: 10px;
    background-color: var(--main-text-color);
    transform: rotate(-45deg);
    position: absolute;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity .3s;
}

.closeNotice::after {
    transform: rotate(45deg);
}

.closeNotice:hover::after, .closeNotice:hover::before {
    opacity: 1;
    transition: opacity .3s;
}


.noticeForm button {
    margin-top: 20px;
}