.button {
    width: 184px;
    height: 68px;
    padding: 0 50px 5px 50px;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    font-family: var(--logo-font);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}