.enterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}
.enterForm p {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 0 0 15px 0;
    padding: 0;
}

.enterForm p:last-of-type {
    margin-bottom: 50px;
}

.enterForm label {
    font-size: 24px;
    font-family: var(--main-text-font);
}

.enterForm input {
    margin-left: 15px;
    height: 30px;
    width: 250px;
}

.enterForm a {
    margin-top: 30px;
    text-decoration: none;
    color: var(--logo-color);
    font-size: 18px;
}