:root {
  --main-bg-color: #fff;
  --main-text-color: #252526;
  --logo-color: #4957ed;
  --second-color: #ee2935;
  --third-color: #419538;

  --logo-font: "Oswald", sans-serif;
  --main-text-font: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0 auto;
  padding: 0;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chartButtons {
  display: flex;
  flex-direction: row-reverse;
}

.footer {
  font-size: 24px;
  font-family: var(--logo-font);
  text-align: center;
  padding: 50px 0;
}

.button {
  height: 50px;
  padding: 0 24px;
  color: #fff;
  font-size: 16px;
  font-family: var(--logo-font);
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button--main {
  background: var(--third-color);
  color: #fff;
}
