@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  /* light theme */
  --background-primary-light: #eee;
  --text-primary-light: #252526;
  --logo-primary-light: #4957ed;
  --second-primary-light: #ee2935;
  --third-primary-light: #419538;

  /* dark theme */
  --background-primary-dark: #333333;
  --text-primary-dark: #eee;
  --logo-primary-dark: #b5baf3;
  --second-primary-dark: #ee2935;
  --third-primary-dark: #419538;

  --logo-font: "Oswald", sans-serif;
  --main-text-font: "Inter", sans-serif;
}

[data-theme="light"] {
  --background-color: var(--background-primary-light);
  --text-color: var(--text-primary-light);
  --logo-color: var(--logo-primary-light);
  --second-color: var(--second-primary-light);
  --third-color: var(--third-primary-light);
}

[data-theme="dark"] {
  --background-color: var(--background-primary-dark);
  --text-color: var(--text-primary-dark);
  --logo-color: var(--logo-primary-dark);
  --second-color: var(--second-primary-dark);
  --third-color: var(--third-primary-dark);
}

body {
  margin: 0 auto;
  padding: 0;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chartButtons {
  display: flex;
  flex-direction: row-reverse;
}

.footer {
  font-size: 24px;
  font-family: var(--logo-font);
  text-align: center;
  padding: 50px 0;
}

.button {
  height: 50px;
  padding: 0 24px;
  color: #fff;
  font-size: 16px;
  font-family: var(--logo-font);
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button--main {
  background: var(--third-color);
  color: #fff;
}
