.enterForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.enterForm h3 {
  font-size: 24px;
  font-family: var(--main-text-font);
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--logo-color);
}

.enterForm input {
  font-size: 16px;
  padding: 12px;
  font-family: var(--main-text-font);
  width: 85%;
  margin: 8px 0;
  background: var(--background-color);
  border: 1px solid var(--text-color);
  outline: none;
  color: var(--logo-color);
}

.enterForm input::placeholder {
  color: var(--text-color);
  opacity: 0.75;
}

.enterForm input:last-of-type {
  margin-bottom: 36px;
}

.enterForm p {
  font-size: 16px;
  font-family: var(--main-text-font);
  color: var(--text-color);
  margin: 36px 0 0;
}

.enterForm p a {
  text-decoration: none;
  color: var(--logo-color);
  font-size: 16px;
  font-family: var(--main-text-font);
}
